@page "/album/{albumId:int}"
@rendermode InteractiveServer
@using FRONTEND.Components.Shared
@using FRONTEND.Data
@using FRONTEND.Services

@inject IColorAnalysisService ColorService
@inject ICurrentAlbumColorService CurrentAlbumColorService
@inject IVinylService VinylService
@inject IColorAnalysisService ColorService

@{
    CurrentAlbumColorService.CurrentAlbumColor = album?.PrimaryColour ?? "#000000";
    var textColor = CurrentAlbumColorService.TextColor;
    var layoutTextColor = CurrentAlbumColorService.IsColorBright ? "black" : "white";
}

<Search IsBackVisible="true"/>
<div class="container" style="--album-bg: @(album?.PrimaryColour); --layout-text-color:@layoutTextColor;">
    <div class="album-view">
        <div class="album-wrapper">
            <img src="@album?.ImgSrc" alt="@album?.Name" class="album-art" />
            <img src="@album?.ImgSrcBack" alt="@album?.Name" class="album-art" />
        </div>

        <div class="album-details">
            <div class="album-info">
                <h1 style="@textColor">@album?.Name</h1>
                <h2 style="@textColor">@album?.Artist</h2>   
            </div>

            <div class="meta-info">
                <div class="spotify-link-container">
                    <button class="spotify-link">Listen on Spotify</button>
                </div>
                <Rating Value="@album!.Rating" TextColor="@textColor"></Rating>   
            </div>
        </div>

        <div class="album-description" style="@textColor;">
            <h1>Blah blah blah blah blah blah.</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ea eaque, quam odio sunt ipsum cupiditate saepe voluptate eligendi? Inventore dolore nihil aperiam cumque culpa nisi facere magnam quaerat iure.
                lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ea eaque, quam odio sunt ipsum cupiditate saepe voluptate eligendi? Inventore dolore nihil aperiam cumque culpa nisi facere magnam quaerat iure.
                lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ea eaque, quam odio sunt ipsum cupiditate saepe voluptate eligendi? Inventore dolore nihil aperiam cumque culpa nisi facere magnam quaerat iure.
            </p>

            <div class="artist-banner" style="background-image: url('@album?.BannerImg');">
            </div>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ea eaque, quam odio sunt ipsum cupiditate saepe voluptate eligendi? Inventore dolore nihil aperiam cumque culpa nisi facere magnam quaerat iure.
                lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ea eaque, quam odio sunt ipsum cupiditate saepe voluptate eligendi? Inventore dolore nihil aperiam cumque culpa nisi facere magnam quaerat iure.
                lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ea eaque, quam odio sunt ipsum cupiditate saepe voluptate eligendi? Inventore dolore nihil aperiam cumque culpa nisi facere magnam quaerat iure.
            </p>
        </div>

        <div class="album-meta-info">
            <p style="@textColor">@album?.Release</p>
            <p style="@textColor">@album?.TrackList!.Count Songs</p>
            <p style="@textColor">@album?.Length</p>
        </div>

        <div class="track-list">
            <table>
                <tbody class="@(animating ? (showAllTracks ? "collapsing" : "expanding") : "")">
                    @if (album?.TrackList != null && album.TrackList.Any())
                    {
                        int i = 1;
                        var tracksToShow = showAllTracks ? album.TrackList : album.TrackList.Take(4);
                        foreach (var track in tracksToShow)
                        {
                            <tr style="border-bottom: 1px solid @(textColor.Contains(":") ? textColor.Split(':')[1].Trim() : textColor)">
                                <td style="@textColor;"><b>@i</b></td>
                                <td style="@textColor; text-align: left;">@track.Name</td>
                                <td style="@textColor;">@track.Length</td>
                            </tr>
                            i++;    
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No tracks available</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (album?.TrackList != null && album.TrackList.Count > 4)
            {
                <button @onclick="ToggleShowAllTracks" class="show-more-btn">
                    @(showAllTracks ? "Show Less" : "Show More")
                </button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int albumId { get; set; }
    
    private Album? album;
    private bool showAllTracks = false;
    private bool animating = false;

    private async void ToggleShowAllTracks()
    {
        if (showAllTracks)
        {
            // Currently expanded, so collapse
            animating = true;
            StateHasChanged();
            await Task.Delay(400); // Wait for collapse animation
            showAllTracks = false;
            animating = false;
            StateHasChanged();
        }
        else
        {
            // Currently collapsed, so expand
            showAllTracks = true;
            animating = true;
            StateHasChanged();
            await Task.Delay(400); // Wait for expand animation
            animating = false;
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        album = await VinylService.GetAlbumByIdAsync(albumId);
    }
}
